**FUNCTIONS**

Creating the function

def func/-name():

    body code

In [20]:
def test():
    print("This is my first function.")  #simple structure of the function
test()  #calling the function

This is my first function.

In [22]:
#now we add the return for function
def test1():
    return "This is my first function." #adding the return statement
test1()

'This is my first function.'

In [24]:
type(test())

This is my first function.

NoneType

In [28]:
type(test1())

str

In [32]:
test1()+"gprec is good college"  #concatenating thee string

'This is my first function.gprec is good college'

In [38]:
def test3():
    return 1,23,45,[2,3,4,5,"gprec"]   #we are return different types of data and multiple data at a same time
print(test3()) #the output is in tuple
type(test3())

(1, 23, 45, [2, 3, 4, 5, 'gprec'])

tuple

In [42]:
a,b,c,d=test3()  #we are returning from the function with seperately
print(a,"------>",type(a))
print(b,"------>",type(b))
print(c,"------>",type(c))
print(d,"------>",type(d))

1 ------> <class 'int'>
23 ------> <class 'int'>
45 ------> <class 'int'>
[2, 3, 4, 5, 'gprec'] ------> <class 'list'>

In [44]:
def test4():
    a=4*5
    b=6+4
    return a,b
test4()

(20, 10)

In [48]:
g=test4()  #giving only one variable
g

(20, 10)

In [50]:
h,i=test4()  #assigning two variables
print(h,"------>",type(h))
print(i,"------>",type(i))

20 ------> <class 'int'>
10 ------> <class 'int'>

In [56]:
a=test3()

In [58]:
a

(1, 23, 45, [2, 3, 4, 5, 'gprec'])

In [62]:
#extracting the list in the tuple a
for i in a:
    if type(i)==list:
        for j in i:
            print(j,end="--->")
        print()

2--->3--->4--->5--->gprec--->

In [64]:
def test5(a,b):
    while(a<b):
        print(a)
        a+=2
    else:
        print("The else block")

In [66]:
test5(2,10)

2
4
6
8
The else block

In [70]:
test5(20,2)

The else block

In [72]:
def test6(a,b):
    while(a<=b):
        return a
        a=a+2
    else: print("print the else block")

In [74]:
test6(2,10)

2

In [76]:
test6(10,3)

print the else block

In [92]:
def test7(a):
    if a==0:
        return 0
    if a==1:
        return 1
    else: return test7(a-1)+test7(a-2)

In [94]:
test7(3)

2

In [96]:
test7(5)

5